/* ===================================== 
   Grid Layout
======================================== */

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.main-header {
    grid-area: main-header;
}

.main-dashboard-search {
    grid-area: main-dashboard-search;
}

.traffic {
    grid-area: traffic;
}

.daily-traffic {
    grid-area: daily-traffic;
}

.mobile-users {
    grid-area: mobile-users;
}

.social-stats {
    grid-area: social-stats;
}

.new-members {
    grid-area: new-members;
}

.recent-activity {
    grid-area: recent-activity;
}

.member-user {
    grid-area: member-user;
}

.settings {
    grid-area: settings;
}

/* Media Queries */
@media (min-width: 320px) {
    
    .grid-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "header"
        "nav"
         "main";
      }

    .traffic,
    .daily-traffic,
    .mobile-users,
    .social-stats,
    .new-members,
    .recent-activity,
    .member-user,
    .settings {
      border-bottom: solid;
      border-color: #d8d8d8;
      border-width: 1px;
      padding-bottom: 20px;
    }

}

@media (min-width: 768px) {
    .grid-container {
      grid-template-columns: 75px 3fr;
      grid-template-rows: 50px minmax(50px, auto);
      grid-template-areas: 
      "header header"
      "nav main"
      "nav main";
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }   
      
    .nav-container {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: minmax(70px, auto) minmax(100px, auto);  
        grid-template-areas:
        "main-header main-header"
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "new-members recent-activity"
        "member-user settings"; 
    }   
    
    .mobile-users {
        border-left: solid #d8d8d8;
        border-width: 1px;
    }
}